body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Marcellus, serif;
  color: white;
}

html, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

input, textarea {
  background: transparent;
  border: 0;
  color: white;
  font-family: Marcellus, serif;
  overflow: hidden;
}

input:focus, input:active, textarea:focus, textarea:active {
  border: 0;
  outline: none;
}

button {
  cursor: pointer;
  background: transparent;
  padding: 15px;
  font-family: Marcellus, serif;
  border: 1px solid white;
  color: white;
  font-size: 1.2em;
  transition: transform 0.5s;
}

button:active {
  outline: none;
  color: #333;
}

button:hover {
  outline: none;
  transform: scale(1.2);
  transition: transform 0.5s;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

a {
  text-decoration: none;
  color: #2287e5;
}

@keyframes blur-around {
  0% {
    transform: translateX(100px);
    filter: blur(3px);
  }
  
  33% {
    transform: translateY(100px) translateX(100px);
    filter: blur(6px);
  }

  66% {
    transform: translateY(100px);
    filter: blur(3px);
  }

  100% {
    transform: none;
    filter: blur(6px);
  }
}